<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CollegeBound</title>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/foundation.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7946452/668984/css/fonts.css" />
    <script type="text/javascript" src="/static/js/foundation/foundation.js"></script>
    <script type="text/javascript" src="/static/js/foundation/foundation.topbar.js"></script>
    <script type="text/javascript" src="/static/js/foundation/foundation.dropdown.js"></script>
    <script type="text/javascript" src="/static/js/vendor/modernizr.js"></script>
  </head>
  <body>
  <font family="GothamHTF"></font>
 <section id="homepage-hero">
      <div class="row header">
	<div class="medium-11">
	<div class="panel">
	  <div class="row">
	  <div class="small-2 columns">
	    </div>
	  <div class="small-6 columns">
	  <h1>UPWARD</h1>
	  <p>
	    <p>Reality Step is a nonprofit organization dedicated to helping underserved students through high school and into college.
	    <p> We're working hard on the launch of RealityStep.com, but for now:
	  </div>
	  </div>
	  <br>

	  </br>
	  <form>
	    <div class="row">
	      <div class="small-10">
		<div class="row">
		  <div class="small-2 columns">
		    <label for="right-label" class="right inline">Email</label>
		  </div>
		  <div class="small-10 columns">
		    <input id="right-label" placeholder="Email" type="text"></input>
		  </div>
		</div>
	      </div>
	    </div>
	  </form>
	</div>
	</div>

	
      </div>
      
 </section>
 <!-- Intro -->
 <div class="row">
   <h2> Here's the team so far -- </h2>
<p>
   </div>
    <!-- Content Blocks -->
    
  <div class="row">

    <div class="large-3 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
    </div>
    <div class="large-9 columns">
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
  </div>
    <div class="row">
      <p>
    </div>
  <div class="row">
    <div class="large-3 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
    </div>
    <div class="large-9 columns">
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
  </div>
    <div class="row">
      <p>
    </div>
    <!-- Content Blocks -->
    
  <div class="row">

    <div class="large-5 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-5 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
  </div>
  
  <!-- Content Blocks Pt 2 -->
  <div class="row">
    
    <div class="large-5 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-5 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
  
  </div>

  <!-- Call to Action Panel -->
<!--
  <div class="row">
    <div class="large-12 columns">
      
      <div class="panel">
        <h4>Get in touch!</h4>
        
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  -->
  <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>
  </font>
  <script src="static/js/vendor/jquery.js"></script>
  <script src="/static/js/foundation.min.js"></script>
  <script>
      $(document).foundation();
  </script>
  </body>
</html>
