<!DOCTYPE html>
<html>
  <head>
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
  </head>

  <body>
    <div class="row header container" id="headimg">
      <div id="inner">
      </div>
    </div>


    <div id="row content">
      <p>Here's the team so far:</p>
      <div class="row ten">
      <div class="six columns">
	<p>1</p>
      </div>
      <div class="six columns">
	<p>1</p>
      </div>
      </div>

      </div>
    </div>
  </body>

</html>
